* {
    font-size: 25px;
}

<<<<<<< HEAD
ul {src: ;
    font-size: 2rem 2rem;
=======
ul {
    font-size: 2rem;
>>>>>>> origin/master
}

li {
    font-size: 3em;
}

p {
    font-size: 15px;
}

h1 {
    font-size: 4.8rem;  
} 
h1:hover{
    font-size: 120px;
    color: red;
}

